<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--方式三-->
    <!--注册bean-->
    <bean id="userService" class="com.sandra.service.UserServiceImpl"/>
    <bean id="AnnotationPointCut" class="com.sandra.diy.AnnotationPointCut"/>

    <!--
    开启AOP注解支持；
    默认是JDK方式实现动态代理；cglib方式可以通过proxy-target-class属性来设置，设为true时是使用cglib，而默认为false是JDK方式；
    -->
    <aop:aspectj-autoproxy proxy-target-class="false"/>

</beans>